<div>
  <input type="button"
         [disabled]="decrementDisabled$ | async"
         class="btn btn-sm btn-primary"
         (click)="decrement()"
         value="-">
  <span>{{count$ | async }}</span>
  <input type="button"
         class="btn btn-sm btn-primary"
         (click)="increment()"
         value="+">
  <input type="button"
         class="btn btn-sm btn-primary"
         (click)="reset()"
         value="Reset">
</div>
<div class="btn-group"
     role="group"
     aria-label="Basic example">
  <button type="button"
          [disabled]="(by$ | async) === 1"
          (click)="setCountBy(1)"
          class="btn btn-secondary"
          [disabled]="false">By 1</button>
  <button type="button"
          [disabled]="(by$ | async) === 3"
          (click)="setCountBy(3)"
          class="btn btn-secondary">By 3</button>
  <button type="button"
          [disabled]="(by$ | async) === 5"
          (click)="setCountBy(5)"
          class="btn btn-secondary">By 5</button>
</div>
