<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active"
       [routerLinkActive]="['active','pretty']"
       routerLink="home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"
       [routerLinkActive]="['active','pretty']"
       routerLink="shopping">Shopping</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"
       [routerLinkActive]="['active','pretty']"
       routerLink="counter">Counter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"
       [routerLinkActive]="['active','pretty']"
       routerLink="todo">Todo List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"
       [routerLinkActive]="['active','pretty']"
       routerLink="booktracking">Book Collection</a>
  </li>
</ul>
